@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&family=Be+Vietnam+Pro:wght@400;500;600&family=Manrope:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-black text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html {
    scroll-behavior: smooth;
  }

  :root {
    --backgroundbg-2: rgba(22, 23, 27, 1);
    --basewhite: rgba(255, 255, 255, 1);
    --brand-900: rgba(15, 15, 17, 1);
    --drop-mobile: 0px 0px 128px 0px rgba(128, 128, 128, 0.2);
    --grayscale-25: rgba(252, 252, 252, 1);
    --grayscale-300: rgba(209, 209, 214, 1);
    --grayscale-50: rgba(250, 250, 250, 1);
    --grayscale-900: rgba(23, 23, 27, 1);
    --neutral-100: rgba(254, 254, 254, 1);
    --neutral-400: rgba(165, 165, 165, 1);
    --white: rgba(242, 242, 242, 1);

    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 60%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --card: transparent;
    --card-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 30%;
    --radius: 0.5rem;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}
